<!DOCTYPE html>
<!-- xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.thymeleaf.org/"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" -->
        
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>롯데ON::롯데 온라인 쇼핑몰</title>
    
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="../css/main/common.css"/>
    <link rel="stylesheet" href="../css/product/style_product_cart.css"/>
    
    <!-- <script src="js/main/index.js"></script> -->
  
    <script>
        $(document).ready(function () {
            $(".slider > ul").bxSlider({
            easing: "linear",
            });
        });

        $(function () {
            var best = $("aside > .best");

            $(window).scroll(function () {
            var t = $(this).scrollTop();

            if (t > 620) {
                best.css({
                position: "fixed",
                top: "0",
                });
            } else {
                best.css({ position: "static" });
            }
            });
        });
    </script>

    <script inline="javascript">
        $(function () {
            $('#bannerTop .btnClose').click(function () {
                $(this).closest('#bannerTop').removeClass('on');
            });
        });


        $(function() {
            /* 전역 변수로 컨텍스트 경로 값을 설정 */
            $.ajax({
                url: '/LotteON/product/mainProdCate2',
                type: 'GET',
                data: '',
                success: function(data) {
                    console.log("1");
                    
                    $('.category').children().remove();
                    $('.category').append(data);
                },
                error: function(){
                    console.log('error');    
                }
            });
        });
   
        /*]]>*/
    </script>
</head>
<body>
<div id="bannerTop" class="on" style="background: #e4dfdf;">
    <article>
        <a href="#"><img src="../../../images/main/topBanner1.png"/></a>
        <button class="btnClose">close</button>
    </article>
</div>
<div id="wrapper">
    <header>
        <div class="top">
            <div>
                <block sec:authorize="isAnonymous()">
                    <a href="/member/login">로그인</a>
                    <a href="/member/join">회원가입</a>
                </block>
                <block sec:authorize="isAuthenticated()">
                    <!-- <a href="#" >[[${#authentication.principal.member.name}]]</a> 이름 -->
                    <block sec:authorize="hasRole('1')">
                        <!-- <a href="/my/home(uid=${#authentication.principal.member.uid})">마이페이지</a> -->
                        <a href="#">마이페이지</a>
                    </block>
                    <block sec:authorize="hasAnyRole('2','3')" >
                        <a href="/admin/index">관리자</a>
                    </block>
                    <a href="/member/logout">로그아웃</a>
                    <a href="/member/cart">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;
                        장바구니
                    </a>
                </block>
            </div>
        </div>
        <div class="logo">
            <div>
                <a href="#"><img src="../images/logo.png" alt="로고"/></a>
                <form action="#">
                    <input type="text" name="search"/>
                    <button><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
        <div class="menu">
            <div>
                <ul>
                    <li><a href="#">히트상품</a></li>
                    <li><a href="#">추천상품</a></li>
                    <li><a href="#">최신상품</a></li>
                    <li><a href="#">인기상품</a></li>
                    <li><a href="#">할인상품</a></li>
                </ul>
                <ul>
                    <li><a href="/cs/list(cate1=notice,cate2=all)">공지사항</a></li>
                    <li><a href="/cs/faq/list(cate1=faq,cate2=member)">자주묻는질문</a></li>
                    <li><a href="/cs/list(cate1=qna,cate2=member)">문의하기</a></li>
                    <li><a href="/cs/index">고객센터</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main class="mainIn cf">
        <aside>
            <!-- 카테고리 -->
            <ul class="category">
            <!-- </ul> -->
            
               <li><i class="fa fa-bars" aria-hidden="true"></i>카테고리</li>
                <li id="mainProdCate1">
                    <a href="#"><i class="fas fa-tshirt"></i>패션·의류·뷰티<i class="fas fa-angle-right"></i></a>
                    <ol id="mainProdCate2">
                        <li data-prod-cate1="11" data-prod-cate2="11"><a href="/product/list(prodCate1=10)">남성의류</a></li>
                    </ol>
                </li>
                <li>
                    <a href="#" id="mainProdCate1"><i class="fas fa-laptop"></i>가전·디지털<i class="fas fa-angle-right"></i></a>
                    <ol>
                        <li><a href="#">노트북/PC</a></li>
                    </ol>
                </li>
                <li>
                    <a href="#"
                    ><i class="fas fa-utensils"></i>식품·생필품<i
                            class="fas fa-angle-right"
                    ></i
                    ></a>
                    <ol>
                        <li><a href="#">신선식품</a></li>
                        <li><a href="#">가공식품</a></li>
                        <li><a href="#">건강식품</a></li>
                        <li><a href="#">생필품</a></li>
                    </ol>
                </li>
                <li>
                    <a href="#"
                    ><i class="fas fa-home"></i>홈·문구·취미<i
                            class="fas fa-angle-right"
                    ></i
                    ></a>
                    <ol>
                        <li><a href="#">가구/DIY</a></li>
                        <li><a href="#">침구·커튼</a></li>
                        <li><a href="#">생활용품</a></li>
                        <li><a href="#">사무용품</a></li>
                    </ol>
                </li>
            </ul>
            <!-- 베스트상품 배너 -->
            <article class="best">
                <h1><i class="fas fa-crown"></i>베스트상품</h1>
                <ol>
                    <block each="product5, loop :${productSold}">
                    <li>
                        <a href="/product/view(prodCate1=${product5.getProdCate1()},prodCate2=${product5.getProdCate2()},prodNo=${product5.getProdNo()},price=${product5.getPrice()})}">
                            <div class="thumb">
                                <i text="${loop.index+1}"></i>
                                <img src="/thumbs/+${product5.prodCate1}+'/'+${product5.prodCate2}+'/'+${product5.thumb2}" alt="item1"/>
                            </div>
                            <h2 text="${product5.prodName}"></h2>
                            <div class="org_price">
                                <del text="${product5.price}"></del>
                                <span text="${product5.discount+'%'}"></span>
                            </div>
                            <div class="dis_price">
                                <ins text="${product5.getDiscount(product5.price,product5.discount)}"></ins>
                                <block if="${product5.delivery == 0}">
                                    <span class="free">무료배송</span>
                                </block>
                                <block if="${product5.delivery != 0}">
                                    <span text=" '배송비:'+${product5.delivery}+'원'"></span>
                                </block>
                            </div>
                        </a>
                    </li>
                    </block>
                </ol>
            </article>
        </aside>
        <!-- 장바구니 영역 -->
        <section class="cart-section">
            <div class="breadcrumb">
                <a href="#">Home</a> &gt;
                <a href="#">장바구니</a> &gt;
                <a href="#">장바구니</a>
            </div>
            <!-- 장바구니 제목 -->
            <h2 class="section-title">장바구니</h2>
     
            <!-- 장바구니 상품목록 -->
            <div class="cart-">
                <table class="cart-table">
                    <thead>
                        <tr>
                            <th><input type="checkbox"></th>
                            <th>상품정보</th>
                            <th>판매가</th>
                            <th>수량</th>
                            <th>구매가</th>
                            <th>배송정보</th>
                            <th>선택</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td class="product-info">
                                <img src="/images/product/image.png" alt="상품 이미지">
                                <div class="product-details">
                                    <p class="product-name">[브랜드] 상품명</p>
                                </div>
                            </td>
                            <td>33,000원</td>
                            <td>
                                <div class="quantity">
                                    <input type="number" value="1">
                                </div>
                            </td>
                            <td>
                                <div class="price-info">
                                    <del>33,000원</del>
                                    <span class="discount-price">23,760원</span>
                                </div>
                            </td>
                            <td class="shipping-info">무료배송</td>
                            <td>
                                <a href="#" class="quick-buy">바로구매</button></a><br>
                                <a href="#" class="delete-item">삭제</button></a>
                            </td>
                        </tr>
                    </tbody>

                    <tbody>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td class="product-info">
                                <img src="/images/product/image2.png" alt="상품 이미지">
                                <div class="product-details">
                                    <p class="product-name">[브랜드] 상품명</p>
                                </div>
                            </td>
                            <td>33,000원</td>
                            <td>
                                <div class="quantity">
                                    <input type="number" value="1">
                                </div>
                            </td>
                            <td>
                                <div class="price-info">
                                    <del>33,000원</del>
                                    <span class="discount-price">23,760원</span>
                                </div>
                            </td>
                            <td class="shipping-info">무료배송</td>
                            <td>
                                <a href="#" class="quick-buy">바로구매</button></a><br>
                                <a href="#" class="delete-item">삭제</button></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
            <!-- 선택지 영역 -->
            <div class="cart-options">
                <button class="delete-selected">선택상품 삭제</button>
            </div>
        
            <!-- 결제 정보 -->
            <aside class="checkout-summary">
                <div class="checkout-details">
                    <div class="checkout-row">
                        <div class="checkout-column">
                            <p>총 판매가</p>
                            <span>33,000원</span>
                        </div>
                        <p class ="minus">-</p>
                        <div class="checkout-column">
                            <p>총 할인금액</p>
                            <span class="discount">9,240원</span>
                        </div>
                        <p class="plus">+</p>
                        <div class="checkout-column">
                            <p>배송비</p>
                            <span>0원</span>
                        </div>
                    </div>
                    <div class="checkout-row total">
                        <p>총 결제예상금액</p>
                        <span>23,760원</span>
                    </div>
                    <p class="shipping-notice">배송비는 쿠폰할인금액에 따라 변경될 수 있습니다.</p>
                </div>
                <div class="checkout-buttons">
                    <button class="checkout-btn outlined">선택주문(1)</button>
                    <a href="/product/order.html" class="checkout-btn filled">전체주문</a>
                </div>
            </aside>
            
        </section>
        

    </main>
    <footer>
        <ul>
            <li><a href="/company/index">회사소개</a></li>
            <li><a href="#">서비스이용약관</a></li>
            <li><a href="#">개인정보처리방침</a></li>
            <li><a href="#">전자금융거래약관</a></li>
        </ul>
        <div>
            <p><img src="../images/main/footer_logo.png" alt="로고"/></p>
            <p>
                <strong>(주)롯데ON</strong><br/>- bxSlider 
                대표이사 : 김사무엘상현, 정준호, 강성현<br/>
                사업자등록번호 : 529-85-00774(롯데쇼핑(주) e커머스사업부)<br/>
                통신판매업 신고 : 서울송파 제0158호<br>
                호스팅 서비스사업자 : 롯데쇼핑(주) e커머스사업부
            </p>
            <p>
                <strong>고객센터</strong><br/>
                Tel : 1899-7000(유료) (평일 09:00~18:00)<br/>
                Fax : 051-123-4567 | E-mail : lotteon@lotte.net<br/>
                App Version:[[${appInfo}]]
            </p>
        </div>
    </footer>
    <button type="button" id="top">상단이동</button>
</div>
</body>
</html>
