<!DOCTYPE html>
<!-- xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.thymeleaf.org/"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" -->

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>롯데ON::롯데 온라인 쇼핑몰</title>

    <!-- 파비콘 -->
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"/>

    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/main/common.css}">
    <link rel="stylesheet" th:href="@{/css/product/style_product_cart.css}"/>
    <link rel="stylesheet" th:href="@{/css/include/header.css}"/>

    <!-- ui 아이콘 -->
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="bannerTop" class="on" style="background: #e4dfdf;">
    <article>
        <a href="#"><img src="../../../images/main/topBanner1.png"/></a>
        <button class="btnClose">close</button>
    </article>
</div>
<div id="wrapper">
    <header th:replace="~{include/header.html}"></header>
    <main class="mainIn cf">
        <aside>
            <!-- 베스트상품 배너 -->
            <article class="best">
                <h1><i class="fas fa-crown"></i>베스트상품</h1>
                <ol>
                    <block each="product5, loop :${productSold}">
                        <li>
                            <a href="/product/view(prodCate1=${product5.getProdCate1()},prodCate2=${product5.getProdCate2()},prodNo=${product5.getProdNo()},price=${product5.getPrice()})}">
                                <div class="thumb">
                                    <i text="${loop.index+1}"></i>
                                    <img src="/thumbs/+${product5.prodCate1}+'/'+${product5.prodCate2}+'/'+${product5.thumb2}" alt="item1"/>
                                </div>
                                <h2 text="${product5.prodName}"></h2>
                                <div class="org_price">
                                    <del text="${product5.price}"></del>
                                    <span text="${product5.discount+'%'}"></span>
                                </div>
                                <div class="dis_price">
                                    <ins text="${product5.getDiscount(product5.price,product5.discount)}"></ins>
                                    <block if="${product5.delivery == 0}">
                                        <span class="free">무료배송</span>
                                    </block>
                                    <block if="${product5.delivery != 0}">
                                        <span text=" '배송비:'+${product5.delivery}+'원'"></span>
                                    </block>
                                </div>
                            </a>
                        </li>
                    </block>
                </ol>
            </article>
        </aside>
        <!-- 장바구니 영역 -->
        <section class="cart-section">
            <div class="breadcrumb">
                <a href="#">Home</a> &gt;
                <a href="#">장바구니</a> &gt;
                <a href="#">장바구니</a>
            </div>
            <!-- 장바구니 제목 -->
            <h2 class="section-title">장바구니</h2>

            <!-- 장바구니 상품목록 -->
            <div class="cart-">
                <table class="cart-table">
                    <thead>
                    <tr>
                        <th><input type="checkbox"></th>
                        <th>상품정보</th>
                        <th>판매가</th>
                        <th>수량</th>
                        <th>구매가</th>
                        <th>배송정보</th>
                        <th>선택</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td class="product-info">
                            <img src="/images/product/image.png" alt="상품 이미지">
                            <div class="product-details">
                                <p class="product-name">[브랜드] 상품명</p>
                            </div>
                        </td>
                        <td>33,000원</td>
                        <td>
                            <div class="quantity">
                                <input type="number" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="price-info">
                                <del>33,000원</del>
                                <span class="discount-price">23,760원</span>
                            </div>
                        </td>
                        <td class="shipping-info">무료배송</td>
                        <td>
                            <a href="#" class="quick-buy">바로구매</button></a><br>
                            <a href="#" class="delete-item">삭제</button></a>
                        </td>
                    </tr>
                    </tbody>

                    <tbody>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td class="product-info">
                            <img src="/images/product/image2.png" alt="상품 이미지">
                            <div class="product-details">
                                <p class="product-name">[브랜드] 상품명</p>
                            </div>
                        </td>
                        <td>33,000원</td>
                        <td>
                            <div class="quantity">
                                <input type="number" value="1">
                            </div>
                        </td>
                        <td>
                            <div class="price-info">
                                <del>33,000원</del>
                                <span class="discount-price">23,760원</span>
                            </div>
                        </td>
                        <td class="shipping-info">무료배송</td>
                        <td>
                            <a href="#" class="quick-buy">바로구매</button></a><br>
                            <a href="#" class="delete-item">삭제</button></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- 선택지 영역 -->
            <div class="cart-options">
                <button class="delete-selected">선택상품 삭제</button>
            </div>

            <!-- 결제 정보 -->
            <aside class="checkout-summary">
                <div class="checkout-details">
                    <div class="checkout-row">
                        <div class="checkout-column">
                            <p>총 판매가</p>
                            <span>33,000원</span>
                        </div>
                        <p class ="minus">-</p>
                        <div class="checkout-column">
                            <p>총 할인금액</p>
                            <span class="discount">9,240원</span>
                        </div>
                        <p class="plus">+</p>
                        <div class="checkout-column">
                            <p>배송비</p>
                            <span>0원</span>
                        </div>
                    </div>
                    <div class="checkout-row total">
                        <p>총 결제예상금액</p>
                        <span>23,760원</span>
                    </div>
                    <p class="shipping-notice">배송비는 쿠폰할인금액에 따라 변경될 수 있습니다.</p>
                </div>
                <div class="checkout-buttons">
                    <button class="checkout-btn outlined">선택주문(1)</button>
                    <a href="/product/order.html" class="checkout-btn filled">전체주문</a>
                </div>
            </aside>
        </section>
    </main>
    <footer>
        <ul>
            <li><a href="/company/index">회사소개</a></li>
            <li><a href="#">서비스이용약관</a></li>
            <li><a href="#">개인정보처리방침</a></li>
            <li><a href="#">전자금융거래약관</a></li>
        </ul>
        <div>
            <p><img src="../images/main/footer_logo.png" alt="로고"/></p>
            <p>
                <strong>(주)롯데ON</strong><br/>- bxSlider
                대표이사 : 김사무엘상현, 정준호, 강성현<br/>
                사업자등록번호 : 529-85-00774(롯데쇼핑(주) e커머스사업부)<br/>
                통신판매업 신고 : 서울송파 제0158호<br>
                호스팅 서비스사업자 : 롯데쇼핑(주) e커머스사업부
            </p>
            <p>
                <strong>고객센터</strong><br/>
                Tel : 1899-7000(유료) (평일 09:00~18:00)<br/>
                Fax : 051-123-4567 | E-mail : lotteon@lotte.net<br/>
                App Version:[[${appInfo}]]
            </p>
        </div>
    </footer>
    <button type="button" id="top">상단이동</button>
</div>
</body>
</html>
