<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>롯데ON::롯데 온라인 쇼핑몰</title>
    <!-- 파비콘 -->
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"/>
    <!-- 기본 스타일 -->
    <link rel="stylesheet" th:href="@{/css/product/product_common.css}"/>
    <link rel="stylesheet" th:href="@{/css/product/style_product_list_common.css}"/>

    <link id="pageStylesheet" rel="stylesheet" th:href="@{/css/product/style_product_list.css}"/>
    <script>
        // CSS 파일을 동적으로 변경하는 함수
        function changeStylesheet(fileName) {
            const stylesheet = document.getElementById('pageStylesheet');
            stylesheet.href = fileName;
        }
    </script>
</head>
<body>
<div id="bannerTop" class="on" style="background: #e4dfdf;">
    <article>
        <a href="#"><img src="../../../images/main/topBanner1.png" alt="배너"/></a>
        <button class="btnClose">close</button>
    </article>
</div>
<div id="wrapper">
    <header th:replace="~{include/header.html}"></header>
    <main class="mainIn cf">
        <aside th:replace="~{main_aside.html}"></aside>
        <!-- 카테고리/베스트 상품 영역 -->
        <section class="product-list-section">
            <!-- Breadcrumb -->
            <div class="breadcrumb">
                <a href="#">Home</a> &gt;
                <a href="#">패션·의류·뷰티</a> &gt;
                <a href="#">남성의류</a>
            </div>

            <!-- 상품 목록 제목 -->
            <h2 class="section-title">상품목록</h2>

            <!-- 상품 정렬 옵션 -->
            <div class="sort-options">
                <div class="sort-left">
                    <a href="#" class="sort-link f">인기순</a>
                    <a href="#" class="sort-link">신상품순</a>
                    <a href="#" class="sort-link">판매순</a>
                    <a href="#" class="sort-link">낮은가격순</a>
                    <a href="#" class="sort-link">할인율순</a>
                </div>

                <div class="sort-view-options">
                    <span class="view-count">VIEW</span>
                    <!-- 목록보기: 클릭하면 목록 CSS 적용 -->
                    <a href="javascript:void(1);" onclick="changeStylesheet('/lotteon/css/product/style_product_list.css')" class="sort-linkRight">목록보기</a>
                    <!-- 바둑보기: 클릭하면 바둑 CSS 적용 -->
                    <a href="javascript:void(0);" onclick="changeStylesheet('/lotteon/css/product/style_product_list_grid.css')" class="sort-linkRight">바둑보기</a>
                </div>
            </div>

            <!-- 상품 목록 -->
            <div class="product-list">
                <div class="product-item">
                    <div class="product-image">
                        <img th:src="@{/images/example.png}" alt="Product Image" />
                    </div>

                    <a th:href="@{/product/view}" class="product-details">
                        <h3 class="product-name">[코카콜라] 제로콜라 24캔</h3>
                        <p class="product-description">코카콜라 제로콜라가 단돈 1000원</p>
                        <div class="price-info">

                            <span class="original-price">30,000원</span>
                            <span class="discount-rate">10% ↓</span>
                            <span class="product-price">27,000원</span>
                        </div>
                        <div class="shipping-info">
                            <span class="shipping-cost">무료배송</span>
                        </div>
                    </a>

                    <div class="seller-info">
                        <p>판매자</p>
                        <span class="seller-badge">고객만족우수</span>
                        <div class="rating">
                            상품평 ⭐⭐⭐⭐
                        </div>
                    </div>
                </div>

                <!-- 상품 3 -->
                <div class="product-item">
                    <div class="product-image">
                        <img th:src="@{/images/product/product1.png}" alt="Product Image" />
                    </div>
                    <div class="product-details">
                        <h3 class="product-name">[비비고] 김치 왕교자 315g</h3>
                        <p class="product-description">맛있고 맛있는 김치 왕교자 한명 먹다 둘이 죽어도 몰라요</p>
                        <div class="price-info">
                            <span class="original-price">30,000원</span>
                            <span class="discount-rate">10% ↓</span>
                            <span class="product-price">27,000원</span>
                        </div>
                        <div class="shipping-info">
                            <span class="shipping-cost">배송비 2,500원</span>
                        </div>
                    </div>
                    <div class="seller-info">
                        <p>판매자</p>
                        <span class="seller-badge">고객만족우수</span>
                        <div class="rating">
                            상품평 ⭐⭐⭐⭐
                        </div>
                    </div>
                </div>
                <!-- 상품 4 -->
                <div class="product-item">
                    <div class="product-image">
                        <img th:src="@{/images/product/product2.png}" alt="Product Image" />
                    </div>
                    <div class="product-details">
                        <h3 class="product-name">[샤프란] 사프란 섬유유연제 프레쉬 아로마 3.1L 4개</h3>
                        <p class="product-description">기분좋은향기 샤프란섬유유연제 프레쉬아로마3.1L 4개</p>
                        <div class="price-info">
                            <span class="original-price">30,000원</span>
                            <span class="discount-rate">10% ↓</span>
                            <span class="product-price">27,000원</span>
                        </div>
                        <div class="shipping-info">
                            <span class="shipping-cost">배송비 2,500원</span>
                        </div>
                    </div>
                    <div class="seller-info">
                        <p>판매자</p>
                        <span class="seller-badge">고객만족우수</span>
                        <div class="rating">
                            상품평 ⭐⭐⭐⭐⭐
                        </div>
                    </div>
                </div>
                <!-- 상품 4 -->
                <div class="product-item">
                    <div class="product-image">
                        <img th:src="@{/images/product/product3.png}" alt="Product Image" />
                    </div>
                    <div class="product-details">
                        <h3 class="product-name">[농심] 육개장사발면12개 + 김치사발면12개 (총24개)</h3>
                        <p class="product-description">육개장사발면12개 + 김치사발면12개 (총24개)</p>
                        <div class="price-info">
                            <span class="original-price">30,000원</span>
                            <span class="discount-rate">10% ↓</span>
                            <span class="product-price">27,000원</span>
                        </div>
                        <div class="shipping-info">
                            <span class="shipping-cost">배송비 2,500원</span>
                        </div>
                    </div>
                    <div class="seller-info">
                        <p>판매자</p>
                        <span class="seller-badge">고객만족우수</span>
                        <div class="rating">
                            상품평 ⭐⭐⭐⭐⭐
                        </div>
                    </div>
                </div>
                <!-- 페이지네이션 -->

            </div>
            <div class="pagination">
                <ul>
                    <li><a href="#">&lt;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&gt;</a></li>
                </ul>
            </div>
        </section>
    </main>
    <footer th:replace="~{include/footer.html}"></footer>
    <button type="button" id="top">상단이동</button>
</div>
</body>
</html>
