<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자주묻는질문 목록</title>

    <!--공통 css 부분-->
    <link rel="stylesheet" th:href="@{/css/admin/style_admin_common.css}"/>
    <!--각 페이지(section) 개별 css-->
    <link rel="stylesheet" th:href="@{/css/admin/style_admin_article_list.css}"/>

</head>
<body>
<header>
    <div class="header-top">
        <a href="#" class="logo">
            <img th:src="@{/images/logo.png}" alt="Logo"/>
        </a>
        <nav>
            <a href="#">로그아웃</a>
            <a href="#">고객센터</a>
        </nav>
    </div>
</header>

<main>
    <div id="wrapper">
        <aside>
            <ul class="sidebar-menu">
                <li><a href="#">환경설정</a></li>
                <li><a href="#">상품관리</a></li>
                <li><a href="#">회원관리</a></li>
                <li><a href="#">주문관리</a></li>
                <li><a href="#">고객센터</a></li>
            </ul>
        </aside>

        <!--section-->
        <section>
            <div class="breadcrumb">
                <a href="#">Home</a> > <a href="#">고객센터</a> > <a href="#" class="location">자주묻는질문</a>
            </div>
            <h3>자주묻는질문 목록</h3>
            <div class="form">
                <div class="table-controls">
                    <select class="dropdown">
                        <option>1차 선택</option>
                        <option>회원</option>
                        <option>상품</option>
                    </select>
                    <select class="dropdown">
                        <option>2차 선택</option>
                        <option>가입</option>
                        <option>탈퇴</option>
                    </select>
                </div>

                <table class="inquiry-table">
                    <colgroup>
                        <col style="width: 2%">
                        <col style="width: 7%">
                        <col style="width: 9%">
                        <col style="width: 10%">
                        <col style="width: 29%">
                        <col style="width: 7%">
                        <col style="width: 6%">
                        <col style="width: 15%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th><input type="checkbox" class="chkbox"></th>
                        <th>번호</th>
                        <th>1차유형</th>
                        <th>2차유형</th>
                        <th>제목</th>
                        <th>조회</th>
                        <th>날짜</th>
                        <th>관리</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="checkbox" class="chkbox"></td>
                        <td>120</td>
                        <td>회원</td>
                        <td>가입</td>
                        <td class="title">개인회원과 법인회원에 차이가 있나요?</td>
                        <td>120</td>
                        <td>00.00.00</td>
                        <td>
                            <a href="#" class="edit-btn">수정</a>
                            <button class="deletebtn">삭제</button>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="chkbox"></td>
                        <td>120</td>
                        <td>회원</td>
                        <td>가입</td>
                        <td class="title">개인회원과 법인회원에 차이가 있나요?</td>
                        <td>120</td>
                        <td>00.00.00</td>
                        <td>
                            <a href="#" class="edit-btn">수정</a>
                            <button class="deletebtn">삭제</button>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="chkbox"></td>
                        <td>120</td>
                        <td>회원</td>
                        <td>가입</td>
                        <td class="title">개인회원과 법인회원에 차이가 있나요?</td>
                        <td>120</td>
                        <td>00.00.00</td>
                        <td>
                            <a href="#" class="edit-btn">수정</a>
                            <button class="deletebtn">삭제</button>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="chkbox"></td>
                        <td>120</td>
                        <td>회원</td>
                        <td>가입</td>
                        <td class="title">개인회원과 법인회원에 차이가 있나요?</td>
                        <td>120</td>
                        <td>00.00.00</td>
                        <td>
                            <a href="#" class="edit-btn">수정</a>
                            <button class="deletebtn">삭제</button>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <div class="buttons">
                    <button class="delete-btn" disabled>선택 삭제</button>
                    <a href="#" class="write-btn">작성하기</a>
                </div>
            </div>
        </section>
        <!-- /Section -->
    </div>
</main>

<footer>
    <p>&copy; 2024 롯데ON. All rights reserved.</p>
</footer>
</body>
</html>
