<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자주묻는질문 작성</title>

    <!--공통 css 부분-->
    <link rel="stylesheet" th:href="@{/css/admin/style_admin_common.css}"/>
    <!--각 페이지(section) 개별 css-->
    <link rel="stylesheet" th:href="@{/css/admin/style_admin_article_write.css}"/>


</head>
<body>
<header>
    <div class="header-top">
        <a href="#" class="logo">
            <img th:src="@{/images/logo.png}" alt="Logo"/>
        </a>
        <nav>
            <a href="#">로그아웃</a>
            <a href="#">고객센터</a>
        </nav>
    </div>
</header>

<main>
    <div id="wrapper">
        <aside>
            <ul class="sidebar-menu">
                <li><a href="#">환경설정</a></li>
                <li><a href="#">상품관리</a></li>
                <li><a href="#">회원관리</a></li>
                <li><a href="#">주문관리</a></li>
                <li><a href="#">고객센터</a></li>
            </ul>
        </aside>

        <!--section-->
        <section>
            <div class="breadcrumb">
                <a href="#">Home</a> > <a href="#">고객센터</a> > <a href="#" class="location">자주묻는질문</a>
            </div>
            <h3>자주묻는질문 작성</h3>
            <div class="form">
                <form action="#" method="post">
                    <div class="inquiry-section">
                        <table class="inquiry-table">
                            <tr>
                                <td class="label">유형</td>
                                <td>
                                    <select class="dropdown">
                                        <option>1차 선택</option>
                                        <option>회원</option>
                                        <option>상품</option>
                                    </select>
                                    <select class="dropdown">
                                        <option>2차 선택</option>
                                        <option>가입</option>
                                        <option>탈퇴</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">제목</td>
                                <td>
                                    <input type="text" name="title"/>
                                </td>
                            </tr>
                            <tr class="content">
                                <td class="label">내용</td>
                                <td>
                                    <textarea name="answer" rows="5" cols="50"></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="buttons">
                        <a href="#" class="cancel-btn">취소하기</a>
                        <button type="submit" class="save-btn">등록하기</button>
                    </div>
                </form>
            </div>
        </section>
        <!--/section-->
    </div>
</main>

<footer>
    <p>&copy; 2024 롯데ON. All rights reserved.</p>
</footer>
</body>
</html>
