<!DOCTYPE html>
<!-- xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.thymeleaf.org/"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" -->
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>롯데ON::롯데 온라인 쇼핑몰</title>
  <link rel="stylesheet" th:href="@{../css/my/myInfo.css}" />
  <link rel="stylesheet" th:href="@{../css/my/myInfo_modal.css}" />
  <link rel="stylesheet" th:href="@{../css/my/myInfo_order.css}" />
  <link rel="stylesheet" th:href="@{../css/my/myInfo_qna.css}" />
  <script th:src="@{/js/my/home.js}"></script>
  <script>
    window.onload = function () {
      const orderLinks = document.getElementsByClassName('orderDetailBtn');
      console.log("111");

      for (let i = 0; i < orderLinks.length; i++) {
        orderLinks[i].addEventListener('click', function(event) {
          event.preventDefault(); // a 태그의 기본 동작(링크 이동)을 막음
          console.log("123");
          const modal = document.getElementById('productModal'); // id가 productModal인 요소 선택
          if (modal) {
            modal.classList.remove('Modalhidden'); // Modalhidden 클래스 제거
          }
        });
      }
    };
  </script>
</head>

<body>
  <div id="wrapper">
    <main>
      <header th:replace="~{include/my_header.html}"></header>
      <div th:replace="~{my/my_aside.html}"></div>
      <section class="myInfo_sec">
        <div th:replace="~{my/banner.html}"></div>

        <!-- 최근 주문내역 -->
        <article class="myInfo_recentOrder myInfo_Article">
          <div class="myInfo_ArticleTitle"><span>최근주문내역</span><a th:href="@{/my/order}">더보기 ></a></div>
          <ul class="myInfo_product">

            <li>
              <span>2022-12-13</span>
              <div>
                <img th:src="@{/images/my/임시 이미지.png}" alt="">
                <div>

                  <a href="#" class="orderDetailBtn">주문번호: 1012211341</a>
                  <a href="#" class="orderSellerBtn">{주}상호명</a>
                  <a th:href="@{/product/list}">상품명</a>
                  <p>수량: 1개</p>
                  <p><strong>34,000원</strong></p>
                </div>
                <div>
                  <span>
                  배송완료
                  </span>
                </div>
                <div>
                  <button class="orderAcceptBtn">구매확정</button>
                  <button class="orderReviewBtn">상품평쓰기</button>
                  <button class="orderReturnBtn">반품신청</button>
                  <button class="orderChangeBtn">교환신청</button>
                </div>
              </div>
            </li>

          </ul>
        </article>
        <!-- 최근 주문내역 끝 -->

        <div th:replace="~{my/modal.html}"></div>

        <!-- 포인트 적립내역 -->
        <article class="myInfo_PointRecode myInfo_Article">
          <div class="myInfo_ArticleTitle"><span>최근주문내역</span><a href="#">더보기 ></a></div>
          <table class="myInfo_PointTable myInfo_Table">
            <thead>
              <tr>
                <th>날짜</th>
                <th>구분</th>
                <th>주문번호</th>
                <th>적립금액</th>
                <th>비고</th>
                <th>유효기간</th>
              </tr>
            </thead>
            <tbody>
              <!-- 반복 block -->
              <tr>
                <td>
                  2022-12-13
                </td>
                <td>
                  적립
                </td>
                <td>
                  2022131001
                </td>
                <td>
                  340
                </td>
                <td>
                  상품 구매확정
                </td>
                <td>
                  2024-12-10
                </td>
              </tr>
              <!-- 반복 블럭 끝 -->

              <!-- 반복 block -->
              <tr>
                <td>
                  2022-12-13
                </td>
                <td>
                  적립
                </td>
                <td>
                  2022131001
                </td>
                <td>
                  340
                </td>
                <td>
                  상품 구매확정
                </td>
                <td>
                  2024-12-10
                </td>
              </tr>
              <!-- 반복 블럭 끝 -->
            </tbody>
          </table>
        </article>

        <!-- 상품평 -->
        <article class="myInfo_Review myInfo_Article">
          <div class="myInfo_ArticleTitle"><span>상품평</span><a href="#">더보기 ></a></div>
          <table class="myInfo_ReviewTable myInfo_Table">
            <thead>
              <tr>
                <th>번호</th>
                <th>상품평</th>
                <th>내용</th>
                <th>평점</th>
                <th>작성일</th>
              </tr>
            </thead>
            <tbody>
              <!-- 반복 block -->
              <tr>
                <td>
                  1
                </td>
                <td>
                  상품번호 / 상품명
                </td>
                <td>
                  배송이 빠릅니다. 잘 사용하겠습니다.
                </td>
                <td>
                  <img th:src="@{../images/my/임시 별점.png}" alt="">
                </td>
                <td>
                  2022-12-10
                </td>
              </tr>
              <!-- 반복 블럭 끝 -->

              <!-- 반복 block -->
              <tr>
                <td>
                  2
                </td>
                <td>
                  상품번호 / 상품명
                </td>
                <td>
                  배송이 빠릅니다. 잘 사용하겠습니다.
                </td>
                <td>
                  <img th:src="@{../images/my/임시 별점.png}" alt="">
                </td>
                <td>
                  2022-12-6
                </td>
              </tr>
              <!-- 반복 블럭 끝 -->

              <!-- 반복 block -->
              <tr>
                <td>
                  3
                </td>
                <td>
                  상품번호 / 상품명
                </td>
                <td>
                  배송이 빠릅니다. 잘 사용하겠습니다.
                </td>
                <td>
                  <img th:src="@{../images/my/임시 별점.png}" alt="">
                </td>
                <td>
                  2022-12-6
                </td>
              </tr>
              <!-- 반복 블럭 끝 -->
            </tbody>
          </table>
        </article>

        <!-- 문의 내역 -->
        <article class="myInfo_Qna myInfo_Article">
          <div class="myInfo_ArticleTitle"><span>문의 내역</span><a href="#">더보기 ></a></div>
          <table class="myInfo_QnaTable myInfo_Table">
            <thead>
              <tr>
                <th>번호</th>
                <th>문의채널</th>
                <th>문의유형</th>
                <th>제목</th>
                <th>작성일</th>
                <th>상태</th>
              </tr>
            </thead>
            <tbody>
              <!-- 반복 block -->
              <tr>
                <td>
                  1
                </td>
                <td>
                  고객센터
                </td>
                <td>
                  주문 / 결제
                </td>
                <td>
                  신용카드 결제 중 오류가 난 경우 어떻게 하나요?
                </td>
                <td>
                  2022-12-12
                </td>
                <td class="qna_answer">
                  검토 중
                </td>
              </tr>
              <!-- 반복 블럭 끝 -->

              <!-- 반복 block -->
              <tr>
                <td>
                  2
                </td>
                <td>
                  고객센터
                </td>
                <td>
                  주문 / 결제
                </td>
                <td>
                  신용카드 결제 중 오류가 난 경우 어떻게 하나요?
                </td>
                <td>
                  2022-12-12
                </td>
                <td class="qna_answer answerd">
                  답변완료
                </td>
              </tr>
              <!-- 반복 블럭 끝 -->

              <!-- 반복 block -->
              <tr>
                <td>
                  3
                </td>
                <td>
                  판매자 게시판
                </td>
                <td>
                  배송
                </td>
                <td>
                  배송기간이 보통 얼마나 걸리나요?
                </td>
                <td>
                  2022-12-12
                </td>
                <td class="qna_answer answerd">
                  답변완료
                </td>
              </tr>
              <!-- 반복 블럭 끝 -->
            </tbody>
          </table>
        </article>

        <!-- 나의 설정 -->
        <article class="myInfo_myInfo myInfo_Article">
          <div class="myInfo_ArticleTitle"><span>나의 설정</span><a href="#">더보기 ></a></div>
          <ol class="myInfo_div">
            <li>
              <div>기본배송지설정</div>
              <a href="#">변경</a>
              <p>부산광역시 부산진구 대연동 120</p>
              <p>한빛빌딩 10층</p>
            </li>
            <li>
              <div>Email 설정</div>
              <a href="#">변경</a>
              <p>abd123@naver.com</p>
              <p>(최종수정일 2021-12-10)</p>
            </li>
            <li>
              <div>휴대폰 설정</div>
              <a href="#">변경</a>
              <p>010 - 1234 - 1001</p>
              <p>(최종수정일 2021-12-10)</p>
            </li>
          </ol>
        </article>

      </section>
    </main>
  </div>
  <footer th:replace="~{include/footer.html}"></footer>
</body>

</html>