
<link rel="stylesheet" th:href="@{../css/my/myInfo_aside.css}" />
<div class="menu mypg_info">
  <a th:href="@{/my/home}">나의쇼핑정보</a>
  <div>
    <ul>
      <li>
        <div>주문</div>
        <div>2</div>
      </li>
      <li>
        <div>쿠폰</div>
        <div>1</div>
      </li>
      <li>
        <div>포인트</div>
        <div>1,000</div>
      </li>
      <li>
        <div>문의</div>
        <div>1</div>
      </li>
    </ul>
  </div>
</div>


<aside class="myInfo_aside">
  <!-- 카테고리 -->
  <ul class="mypg_category">
    <!-- </ul> -->

    <li>
      <a th:href="@{/my/order}">전체주문 내역</a>
    </li>
    <li>
      <a th:href="@{/my/point}">포인트내역</a>
    </li>
    <li>
      <a th:href="@{/my/coupon}">쿠폰</a>
    </li>
    <li>
      <a th:href="@{/my/review}">나의리뷰</a>
    </li>
    <li>
      <a th:href="@{/my/qna}">문의하기</a>
    </li>
    <li>
      <a th:href="@{/my/info}">나의설정</a>
    </li>
  </ul>
</aside>



