<!DOCTYPE html>
<!-- xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.thymeleaf.org/"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" -->
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>롯데ON::롯데 온라인 쇼핑몰</title>
  <link rel="stylesheet" href="../css/my/myInfo.css" />
  <link rel="stylesheet" href="../css/my/myInfo_search.css" />
</head>

<body>
  <div id="wrapper">
    <main>
      <header th:replace="~{include/my_header.html}"></header>
      <!--어사이드-->
      <div th:replace="~{my/my_aside.html}"></div>


      <section class="myInfo_sec">

        <div th:replace="~{my/banner.html}"></div>

        
        <!-- 포인트 적립내역 -->
        <article class="myInfo_PointRecode myInfo_Article">
          <div class="myInfo_ArticleTitle"><span>포인트내역</span></div>
          <div class="myInfo_Search">
            <p>기간별조회</p>
            <ol class="myInfo_Search_Time">
              <li><a href="">1 주일</a></li>
              <li><a href="">15 일</a></li>
              <li><a href="" class="Time_current">1 개월</a></li>
            </ol>
            <ol class="myInfo_Search_Time">
              <li><a href="">8 월</a></li>
              <li><a href="">9 월</a></li>
              <li><a href="">10 월</a></li>
              <li><a href="">11 월</a></li>
              <li><a href="" class="Time_current">12월</a></li>
            </ol>
            <ol class="myInfo_Search_Time">
              <li><input type="date"><span>~</span><input type="date"></li>
            </ol>
            <button>조회</button>
          </div>
          <table class="myInfo_PointTable myInfo_Table">
            <thead>
              <tr>
                <th>날짜</th>
                <th>구분</th>
                <th>주문번호</th>
                <th>적립금액</th>
                <th>비고</th>
                <th>유효기간</th>
              </tr>
            </thead>
            <tbody>
              <!-- 반복 block -->
              <tr>
                <td>
                  2022-12-13
                </td>
                <td>
                  적립
                </td>
                <td>
                  2022131001
                </td>
                <td>
                  340
                </td>
                <td>
                  상품 구매확정
                </td>
                <td>
                  2024-12-10
                </td>
              </tr>
              <!-- 반복 블럭 끝 -->

              <!-- 반복 block -->
              <tr>
                <td>
                  2022-12-13
                </td>
                <td>
                  적립
                </td>
                <td>
                  2022131001
                </td>
                <td>
                  340
                </td>
                <td>
                  상품 구매확정
                </td>
                <td>
                  2024-12-10
                </td>
              </tr>
              <!-- 반복 블럭 끝 -->
              
              <!-- 반복 block -->
              <tr>
                <td>
                  2022-12-13
                </td>
                <td>
                  적립
                </td>
                <td>
                  2022131001
                </td>
                <td>
                  340
                </td>
                <td>
                  상품 구매확정
                </td>
                <td>
                  2024-12-10
                </td>
              </tr>
              <!-- 반복 블럭 끝 -->
              
            </tbody>
          </table>
        </article>
        <div class="page">
          <a href="#">이전</a>
          <a href="#" class="page_current">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">다음</a>
        </div>

      </section>
    </main>
  </div>
  <footer th:replace="~{include/footer.html}"></footer>
</body>

</html>