<header>
    <link rel="stylesheet" th:href="@{/css/include/header.css}"/>
    <div class ="headerWrapper">

        <!-- 메인 헤더 -->
        <div class="main">
            <div class="main innerContent">
                <h1 class="logoArea">
                    <a href="https://www.lotteon.com/?mall_no=1">
                        <img src="https://static.lotteon.com/p/common/foCommon/assets/img/logo_lotte-on@2x.png" alt="LOTTE ON">
                    </a>
                </h1>
            </div><!-- main -->
        </div><!--headerWrapper-->
</header>