<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>공지사항 보기</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/cs/faq_view.css}" />
  </head>
  <body>
    <section id="section_wrapper">
      <div id="category">
        <a href="#">회원</a>
        <a>회원관련 자주 묻는 질문입니다.</h>
      </div>
      <table>
        <tr id="title">
          <td><img src="/images/cs/Q.png" alt="Q">개인회원과 법인회원에 차이가 있나요 ?</td>
        </tr>
        <tr id="content">
          <td>글 내용~~~~</td>
        </tr>
      </table>
      <a href="#"><button id="toList">목록</button></a>
    </section>
  </body>
</html>
