a {
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: inherit; /* 링크의 색상 제거 */
}
body {
  font-family: "Malgun Gothic", sans-serif;
  font-size: 12px;
  width: 1200px;
  margin: 0 auto;
}
#section_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
}
#category {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 720px;
}

#category > a:first-child {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px;
}

#category > a:nth-child(2) {
  font-size: 12px;
  margin-bottom: 15px;
  color: gray;
}

table {
  width: 720px;
  border-top: 1px solid #000;
  border-collapse: collapse;
}

tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid gainsboro;
}

tr > td:first-child {
  width: 300px;
}

#btnQNA {
  width: 100px;
  height: 35px;
  border: none;
  color: white;
  font-size: 13px;
  background-color: #8eb4e3;
  align-self: flex-end;
  margin-top: 10px;
  margin-right: 40px;
  cursor: pointer;
}

#btnQNA:hover{
  background-color: #9cbfea;
}
