/* 공통 테이블 스타일 */
.inquiry-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border-top: 2px solid #e9e9e9;
  margin-top: 16px;
}

.inquiry-table th, .inquiry-table td {
  padding: 15px;
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #e9e9e9;
}

.inquiry-table th {
  background-color: #f5f7fa;
  font-weight: bold;
  font-size: 14px;
}

.inquiry-table td {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #333;
}

/* 검색바 스타일 */
.search-bar {
  margin-top: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.search-input {
  padding: 10px !important;
  width: 200px !important;
  border: 1px solid #ccc !important;
  border-radius: 5px !important;
  height: 37px !important;
}

.search-btn {
  padding: 10px 20px;
  background-color: #d82a2a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 37px;
}

/* 상품 이미지 스타일 */
.product-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
}


/* 드롭다운 스타일 */
.dropdown {
  padding: 10px;
  font-size: 14px;
  margin-right: 2px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 124px;
  height: 37px;
}

/* 버튼 스타일 */
.delete-btn {
  padding: 10px 20px;
  background-color: #d82a2a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn[disabled] {
  background-color: #d82a2a;
}

.edit-btn, .deletebtn, .write-btn {
  padding: 5px 10px; /* 버튼 패딩 */
  border: none; /* 버튼 테두리 없애기 */
  border-radius: 5px; /* 버튼 테두리 둥글게 */
  cursor: pointer; /* 포인터로 변경 */
}

.edit-btn {
  color: #d82a2a; /* 수정 버튼 글자색 */
  background-color: white;
  border: 1px solid #d82a2a; /* 지정된 빨간색 테두리 */
  border-radius: 5px; /* 테두리 모서리 둥글게 */
  text-decoration: none; /* 밑줄 제거 */
}

.deletebtn {
  color: white; /* 수정 버튼 글자색 */
  background-color: #d82a2a;
  margin-left: 1px; /* 버튼 사이의 여백 */
  border: 1px solid #d82a2a; /* 지정된 빨간색 테두리 */
  border-radius: 5px; /* 테두리 모서리 둥글게 */
  margin-top: 4px;
}

.write-btn {
  padding: 6px 19px;
  background-color: white;
  color: #d82a2a;
  border: none;
  border-radius: 5px;
  border: 1px solid #ef2a23; /* 지정된 빨간색 테두리 */
  cursor: pointer;
  float: right;
  text-decoration: none; /* 밑줄 제거 */
  font-size: 15px;
}



/* 페이지네이션 */
.pagination {
  display: flex;
  justify-content: center;
  gap: 3px;
  margin-top: 20px;
}

.page-btn, .page-num {
  padding: 10px 15px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  font-size: 14px;
}

.page-btn:hover, .page-num:hover {
  background-color: #f5f5f5;
}

.page-btn {
  font-weight: bold;
}

.page-num.active {
  background-color: #d82a2a;
  color: white;
}

.operation_bar {
  text-align: right;
}


/* 모달 창 전체 배경 */
.modal {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  z-index: 100; /* 화면 위에 띄우기 */
  flex-direction: column;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
}

/* 모달 내용 */
.modal-content {
  background-color: #fff;
  margin: 7% auto;
  padding: 0; /* 패딩 제거 */
  border: 1px solid #888;
  width: 600px; /* 너비 조정 */
  border-radius: 8px;
}

/* 모달 헤더 */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 25px;
}

.modal-header h4 {
  margin: 0;
}

/* 닫기 버튼(X) */
.close {
  cursor: pointer;
  font-size: 24px;
  color: white;
}

.close:hover, .close:focus {
  color: #ddd;
  text-decoration: none;
  cursor: pointer;
}

/* 모달 바디 */
.modal-body {
  padding: 20px;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  margin-bottom: 20px;
}

/* 모달 테이블 */
.modal-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.modal-table th, .modal-table td {
  padding: 12px;
  border: 1px solid #e9e9e9; /* 테두리 */
  text-align: left;
}

.modal-table th {
  background-color: #f5f5f5;
  width: 20%; /* 너비 조정 */
  font-size: 13px;
}
.modal-table td {
  font-size: 13px;
}


/* 모달 하단 닫기 버튼 */
.modal-footer {
  text-align: center;
  padding: 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-top: -29px;
}

.close-btn {
  padding: 10px 20px;
  background-color: #d82a2a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.close-btn:hover {
  background-color: #d82a2a;
}

/* 입력 필드 스타일 */
.modal-table input[type="text"], 
.modal-table textarea {
  width: 50%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 13px;
}

/* 등록 확인 버튼 스타일 */
.confirm-btn {
  padding: 10px 20px;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.confirm-btn:hover {
  background-color: #6c757d;
}
