
/* 기본 스타일 */
body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5f7fa;
    color: #333;
}

/* 헤더 스타일 */
header {
    background-color: white;
    padding: 10px 20px;
    background-color: white;
    border-bottom : 1px solid #e9e9e9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.header-top {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 1200px;
}

.header-top a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav a {
    margin-left: 15px;
}

.header-top .logo img {
    width:200px;

}

/* Wrapper 설정 */
#wrapper {
    display: flex;
    width: 1200px;
    margin: 40px auto;
}

/* 사이드바 스타일 */
aside {
    border: 1px solid #ede6db;
    box-sizing: border-box;
    width: 220px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    margin-bottom: 3px;
    position: relative;
}

.sidebar-menu a {
    text-decoration: none;
    color: #2b2e4a;
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
    display: block;
    background-color: #ffffff;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.sidebar-menu a:hover {
    background-color: #f5f5f5;
    font-weight: 900;
}

.submenu {
    list-style: none;
    padding-left: 20px;
    display: none; /* 처음에는 서브메뉴가 보이지 않음 */
}

.submenu li {
    margin-bottom: -13px;
}

.submenu a {
    font-size: 13px;
    font-weight: 400;
}

.submenu a:hover {
    font-weight: 700;
    background-color: #eaeaea;
}


.form {
    padding-left: 15px;
    padding-right: 15px;
}


/* 메인 컨텐츠 섹션 */
section {
    flex: 1;
    border: 1px solid #ede6db;
    margin-left: 8px;
    box-sizing: border-box;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

h3 {
    margin-top: 0;
    font-size: 25px;
    font-weight: bold;
    color: #2b2e4a;
    margin-bottom: 25px;
    border-bottom: 2px solid #d82a2a; /* 밑줄 추가 */
    padding-bottom: 7.12px; /* 텍스트와 밑줄 간의 간격 */
}


.breadcrumb {
    font-size: 14px;
    color: #6c757d;
    float: right;
    margin-top: 17px;
}

.breadcrumb a {
    text-decoration: none;
    color: #6c757d;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb .location {
    font-weight: bold;
}

.title {
    text-align: left !important;
}

/* 입력할 때 테두리 색 변경 */
textarea:focus {
    border-color: #d82a2a !important;
    outline: none !important; /* 기본 포커스 아웃라인 제거 */
}


/* 입력할 때 테두리 색 변경 */
input:focus {
    border-color: #d82a2a !important;
    outline: none !important; /* 기본 포커스 아웃라인 제거 */
}

select:focus {
    border-color: #d82a2a !important;
    outline: none !important; /* 기본 포커스 아웃라인 제거 */
}

/* input 요소 스타일 */
input:not([type="file"]) {
    width: 65%; /* 너비를 테이블 셀에 맞춤 */
    height: 29px; /* 원하는 높이로 설정 */
    padding: 10px; /* 안쪽 여백 */
    font-family: 'Inter', sans-serif; /* 폰트 스타일 유지 */
    font-size: 13px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    box-sizing: border-box; /* 패딩이 포함된 크기 계산 */
}

/* inputmini 요소 스타일 */
.inputmini {
    width: 13% !important; /* 너비를 테이블 셀에 맞춤 */
    height: 29px; /* 원하는 높이로 설정 */
    padding: 10px; /* 안쪽 여백 */
    font-family: 'Inter', sans-serif; /* 폰트 스타일 유지 */
    font-size: 13px !important;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    box-sizing: border-box; /* 패딩이 포함된 크기 계산 */
}

/* date 요소 스타일 */
.date {
    width: 29% !important; /* 너비를 테이블 셀에 맞춤 */
    height: 29px; /* 원하는 높이로 설정 */
    padding: 10px; /* 안쪽 여백 */
    font-family: 'Inter', sans-serif; /* 폰트 스타일 유지 */
    font-size: 13px !important;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    box-sizing: border-box; /* 패딩이 포함된 크기 계산 */
}

textarea {
    width: 100%; /* 너비를 테이블 셀에 맞춤 */
    height: 192px; /* 원하는 높이로 설정 */
    padding: 10px; /* 안쪽 여백 */
    font-family: 'Inter', sans-serif; /* 폰트 스타일 유지 */
    font-size: 16px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    resize: none; /* 사용자가 크기 조절 못하도록 설정 */
    box-sizing: border-box;
}

.chkbox {
    margin-left: 1px;
}

.file {
    margin-top: 5px;
}

/* 푸터 스타일 */
footer {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-top : 1px solid #e9e9e9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    margin-top: 40px;
}

footer p {
    margin: 0;
    font-size: 14px;
    margin-left: 0px;
}
