<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>공지사항 보기</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/cs/qna_view.css}" />
  </head>
  <body>
    <section id="section_wrapper">
      <div id="category">
        <a href="#">회원</a>
        <a>회원 관련 문의내용입니다.</h>
      </div>
      <table>
        <tr id="title">
          <td>
            [가입] 가입문의내용<br>
            <div>
              chh**  <span class="r-date">2022.11.30</span>
            </div>
          </td>
        </tr>
        <tr id="content">
          <td>회원가입 하고 싶어요. 어떻게 해야 하나요?</td>
        </tr>
        <tr id="answer"> <!-- th:if 답변이 있다면 출력-->
          <td>
            <div>☞[답변] 가입문의내용</div>
            <span>안녕하세요. 회원님 회원가입하시면 됩니다.</span>
          </td>
        </tr>
      </table>
      <a href="#"><button id="toList">목록</button></a>
    </section>
  </body>
</html>
