
.myInfo_product > li{
  background: #f8f8f8;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 2px 2px 10px #acabab4d;
  margin-top: 20px;
}
.myInfo_product > li > span{
  font-size: 20px;
  font-weight: bold;
}


.myInfo_product > li > div{
  background: #f8f8f8;
  margin-top: 10px;
  box-shadow: 2px 2px 10px #acabab4d;
  border-radius: 10px;
  padding : 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.myInfo_product > li > div > img{
  width: 150px;
  height: 150px;
}

.myInfo_product > li > div > div:nth-child(2){
  width: 350px;
}
.myInfo_product > li > div > div:nth-child(2) > a{
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

.myInfo_product > li > div > div:nth-child(2) > a:hover{
  text-decoration-line: underline;
}
.myInfo_product > li > div > div:nth-child(2) > p > strong{
  font-size: 20px;
  font-weight: bold;
}
.myInfo_product > li > div > div:nth-child(3) > span{
  font-size: 15px;
}
.myInfo_product > li > div > div:nth-child(4){
  width: 100px;
}

.myInfo_product > li > div > div:nth-child(4) > button{
  display: block;
  width: 100px;
  margin: 5px 0;
  padding: 5px;
  background-color: #558ED5;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #acabab4d;
}

.myInfo_product > li > div > div:nth-child(4) > button:hover{
  opacity: 90%;
}

.myInfo_product > li > div > div:nth-child(4) > button:nth-child(3){
  display: block;
  width: 100px;
  margin: 5px 0;
  padding: 5px;
  background-color: rgb(238, 238, 238);
  color: black;
  border: 1px solid rgb(165, 165, 165);
  cursor: pointer;
}

.myInfo_product > li > div > div:nth-child(4) > button:nth-child(4){
  display: block;
  width: 100px;
  margin: 5px 0;
  padding: 5px;
  background-color: rgb(238, 238, 238);
  color: black;
  border: 1px solid rgb(165, 165, 165);
  cursor: pointer;
}
