<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 보기</title>

    <!--공통 css 부분-->
    <link rel="stylesheet" th:href="@{/css/admin/style_admin_common.css}"/>
    <!--각 페이지(section) 개별 css-->
    <link rel="stylesheet" th:href="@{/css/admin/style_admin_article_view.css}"/>

</head>
<body>
<header>
    <div class="header-top">
        <a href="#" class="logo">
            <img th:src="@{/images/logo.png}" alt="Logo"/>
        </a>
        <nav>
            <a href="#">로그아웃</a>
            <a href="#">고객센터</a>
        </nav>
    </div>
</header>

<main>
    <div id="wrapper">
        <aside>
            <ul class="sidebar-menu">
                <li><a href="#">환경설정</a></li>
                <li><a href="#">상품관리</a></li>
                <li><a href="#">회원관리</a></li>
                <li><a href="#">주문관리</a></li>
                <li><a href="#">고객센터</a></li>
            </ul>
        </aside>

        <!--section-->
        <section>
            <div class="breadcrumb">
                <a href="#">Home</a> > <a href="#">고객센터</a> > <a href="#" class="location">공지사항</a>
            </div>
            <h3>공지사항 보기</h3>
            <div class="form">
                <div class="inquiry-section">
                    <table class="inquiry-table">
                        <tr>
                            <td class="label">유형</td>
                            <td>회원 - 가입</td>
                        </tr>
                        <tr>
                            <td class="label">제목</td>
                            <td>아이디를 여러개 사용할 수 있나요?</td>
                        </tr>
                        <tr class="content">
                            <td class="label">내용</td>
                            <td>개인적인 사정으로 아이디를 3개 사용했었는데 사용 가능하나요?</td>
                        </tr>

                    </table>
                </div>

                <div class="buttons">
                    <button class="delete-btn" disabled>삭제</button>
                    <a href="#" class="modify-btn">수정</a>
                    <a href="#" class="back-btn">목록</a>
                </div>
            </div>
        </section>
        <!--/section-->
    </div>
</main>

<footer>
    <p>&copy; 2024 롯데ON. All rights reserved.</p>
</footer>
</body>
</html>
