<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no">
    <title>LotteON Inc. 상상하는 모든것</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/company/favicon.ico}" />
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css}"/>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/company/style.css}" />
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css}">

    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/company/index.js}"></script>
    <script th:src="@{/js/company/header.js}"></script>

</head>
<body>
<div id="wrapper">
    <header>
        <div>
            <a th:href="@{/company/index}"><img th:src="@{/images/company/header_logo.png}" width="180" alt="로고"></a>
            <ul>
                <li><a th:href="@{/company/introduce}">회사소개</a></li>
                <li><a th:href="@{/company/notice/list}">전자공시</a></li>
                <li><a th:href="@{/company/promote}">홍보채널</a></li>
                <li><a th:href="@{/company/manage}">투명경영</a></li>
            </ul>
        </div>
    </header>