#bannerTop {
  display: none;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #e9e9e9;
  box-sizing: border-box;
}

#bannerTop.on {
  display: block;
}

#bannerTop > article {
  position: relative;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

#bannerTop > article > .btnClose {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  background-image: url('images/ico_sprite.png');
  background-position: -122px -142px;
  background-color: transparent;
  font-size: 0;
  border: none;
  cursor: pointer;
}

main {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.lotteinfo {
  width: 1198px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.info1 {
  font-size: 30px;
  color: #808080;
  margin-bottom: 20px;
}

.info2 {
  font-size: 40px;
  font-weight: 540;
}


.join_section {
  width: 100%;
  height: 430px;
  box-sizing: border-box;
  display: flex; /* 수평 배치를 위한 flexbox */
  justify-content: center; /* 가운데 정렬 */
  align-items: center; /* 수직 정렬 */
}


.custjoin, .selljoin {
  width: 248px;
  height: 200px;
  border: 2px solid #e3e3e3;
  box-sizing: border-box;
  margin: 60px; /* 요소 간의 적절한 여백 */
  display: flex;
  flex-direction: column; /* 위에서 아래로 정렬 */
  justify-content: center; /* 수직 중앙 정렬 */
  align-items: center; /* 수평 중앙 정렬 */
  display: block; /* 기본 블록 정렬을 유지 */
  text-align: center; /* 텍스트를 가운데 정렬 */
  border-radius: 3px
}

.customer_join {
  width: 100%;
  background-color: #cc3434;
  color: #e9e9e9;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
}

.seller_join {
  width: 100%;
  background-color: #31859c;
  color: #e9e9e9;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
}

.joininfo {
  display: flex; /* 수평 배치를 위한 flexbox */
  justify-content: center; /* 가운데 정렬 */
  align-items: center; /* 수직 정렬 */
  height: 80px;
  flex-direction: column;
}

.seller, .customer {
  height: 40px;
  width: 90px;
  border: none;
  background-color: #bfbfbf;
}